asgiref==3.4.1
base58==2.1.0
CacheControl==0.12.6
cachetools==4.2.2
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.4
cytoolz==0.11.0
Django==3.2.7
django-rest-framework==0.1.0
django-safedelete==1.0.0
djangorestframework==3.12.4
eth-abi==2.1.1
eth-hash==0.3.2
eth-keyfile==0.5.1
eth-keys==0.3.3
eth-rlp==0.2.1
eth-typing==2.2.2
eth-utils==1.10.0
firebase-admin==5.0.2
google-api-core==1.31.2
google-api-python-client==2.20.0
google-auth==1.35.0
google-auth-httplib2==0.1.0
google-cloud-core==2.0.0
google-cloud-firestore==2.3.1
google-cloud-storage==1.42.1
google-crc32c==1.1.2
google-resumable-media==2.0.2
googleapis-common-protos==1.53.0
grpcio==1.40.0
hexbytes==0.2.2
httplib2==0.19.1
idna==3.2
mpesa==0.0.1
msgpack==1.0.2
multiaddr==0.0.9
multidict==5.1.0
netaddr==0.8.0
packaging==21.0
parsimonious==0.8.1
proto-plus==1.19.0
protobuf==3.17.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycryptodome==3.10.1
pyparsing==2.4.7
pyrsistent==0.18.0
pytz==2021.1
requests==2.26.0
rlp==2.0.1
rsa==4.7.2
selenium==3.141.0
six==1.16.0
sqlparse==0.4.2
toolz==0.11.1
typing-extensions==3.10.0.2
uritemplate==3.0.1
urllib3==1.26.6
varint==1.0.2
yarl==1.6.3
